body{
  text-align: center;
  background-color:#B7B771;
  font-family: Paryrus;
}
div{
  background-color:#ffffff;
  padding: 30px;
  border-radius: 15px;
  margin: 15px;
}

#left{
  float:left;
}
#page-1-image{ 
animation: fade-in 3s;
  -fadey-animation: fade-in 3s;
}
@keyframes fade-in
{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-fadey-keyframes fade-in
{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1; 
  }
}
